<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<param name="robot_description" command="cat '$(find m2wr_description)/urdf/m2wr.xacro'"/>

	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0.9"/>

	
	<node name="m2wr_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
	args="-urdf -param robot_description -model m2wr -x $(arg x) -y $(arg y) -z $(arg z)" />
	
	<!--<node pkg="tf" type="static_transform_publisher" name="base_to_kinect" args=" 0 0 0 0 1.5708 		1.5708	link_chassis camera_link_optical 100" />-->

        <!-- send fake joint values -->
  	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    	<param name="use_gui" value="False"/>
  	</node>

  	<!-- Combine joint values -->
  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  	<!-- Show in Rviz   -->
  	<node name="rviz" pkg="rviz" type="rviz" />


</launch>


